<?xml version="1.0"?>
<ruleset
	name="WriteFlow AI Coding Standards"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd"
>
	<description>Sniffs for WriteFlow AI plugin</description>

	<!-- Files to scan -->
	<file>./framework/</file>
	<file>./inc/</file>
	<file>./src/blocks/</file>
	<file>./templates/</file>
	<file>./writeflow-ai.php</file>
	<file>./uninstall.php</file>

	<!-- Exclusions -->
	<exclude-pattern>**/build/**</exclude-pattern>
	<exclude-pattern>**/node_modules/**</exclude-pattern>
	<exclude-pattern>**/vendor/**</exclude-pattern>
	<exclude name="WordPressVIPMinimum.JS.*"/>

	<!-- CLI args -->
	<arg value="sp" />
	<arg name="basepath" value="./" />
	<arg name="colors" />
	<arg name="extensions" value="php" />
	<arg name="cache" value=".phpcs-cache.json" />
	<arg name="parallel" value="20" />
	<arg name="severity" value="1" />

	<!-- PHP + WP compatibility -->
	<config name="testVersion" value="8.2-" />
	<config name="minimum_wp_version" value="6.0" />

	<!-- Use WordPress + VIP standards -->
	<rule ref="WordPress" />
	<rule ref="WordPressVIPMinimum" />

	<!-- Relax namespace rule -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound"/>
		<properties>
			<property name="prefixes" type="array">
				<element value="WRITEFLOW_AI" />
				<element value="writeflow_ai_" />
			</property>
		</properties>
	</rule>

	<!-- Disable outdated filename rules -->
	<rule ref="WordPress.Files.FileName">
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>

	<!-- Allow modern array syntax -->
	<rule ref="Universal.Arrays.DisallowShortArraySyntax">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax.Found"/>
	</rule>

	<!-- i18n -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="writeflow-ai" />
			</property>
		</properties>
	</rule>

</ruleset>
